// Custom styles.
// Header
// --------------------------------------------------
.header { background: $s-head-bg; }
.header-inner {
  //padding: 100px 0 100px;
  background-size:100%;
  padding-top:10px;
  height:300px;
  clearfix();

  +mobile() {
    width: auto;
    margin-bottom: 50px;
    padding: 10px;
  }
}
.header-inner canvas{
    +mobile() {
      display:none;
  }
}
.site-meta {
  //float: left;
  //margin-left: -20px;
  text-align:center;
  line-height: 80px;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    padding: 2px 1px;
    background: none;

    +mobile() { display: block; }
  }

  .logo { display: none; }

  .site-title {
    font-size: 40px;
    font-weight: bolder;
    color:#fff;
    font-family:'Open Sans', sans-serif;
    +mobile() { line-height: 34px; }
  }
}




.use-motion {
  .logo-line-before i { left: -100%; }
  .logo-line-after i { right: -100%; }
}
